<ion-header class="ion-no-border">
  <ion-toolbar class="header-toolbar" align-title="center">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Joshua Michael Calafell</ion-title>
    <a
      id="link-github"
      href="https://github.com/rabbitfighter81/joshuamichael-me.git"
      rel="dns-prefetch"
      target="_blank"
      slot="end"
    >
      <ion-icon color="primary" id="logo-github" name="logo-github"></ion-icon>
    </a>
  </ion-toolbar>
</ion-header>
