<app-header></app-header>
<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Experience</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="" *ngFor="let item of items; let i = index;">
          <ion-card-header>
            <ion-card-title color="primary" class="header">
              {{ item.title }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-wrap">
            {{ item.content }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <p>For a full resume, feel free to <a routerLink="/contact">Contact Me</a>.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer></app-footer>