<app-header></app-header>
<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title size="small">About</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Joshua M. Calafell</ion-card-title>
            <ion-card-subtitle
              >Front End Engineer, Angular Expert, and
              Entrepenuer</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content>
            <ion-button
              color="primary"
              fill="outline"
              slot="end"
              routerLink="/contact"
              >💻&nbsp;Hire Me!</ion-button
            >
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>About Me</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>
              I am a UI Architect, Front End Engineer, and Angular Expert. I
              have a strong understanding of how software is designed -- with
              usability and user-interaction as well as accessibility in mind. I
              strive to create software and user experiences that are engaging,
              intuitive, and visually appealing. I have experience in both web
              and mobile development, and I enjoy exploring new technologies and
              methods. I take pride in my work and am dedicated to delivering
              projects on time and to the highest of standards. I am a team
              player and enjoy learning, mentoring, teaching, and helping others
              to learn and grow.
            </p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Top Skills</ion-card-title></ion-card-header
          >
          <ion-card-content>
            <ul>
              <li>
                JavaScript/HTML/CSS
              </li>
              <li>
                TypeScript
              </li>
              <li>
                Node.js
              </li>
              <li>
                CSS Preprocessors such as SCSS, SASS, LESS, and Stylus
              </li>
              <li>
                Angular (with RxJs and NgRx)
              </li>
              <li>
                Redux and state management
              </li>
              <li>
                Other cross platform frameworks such as Meteor, Ionic, React,
                and React Native
              </li>
              <li>
                Webpack, Gulp.js, Docker, and other application bundling tools
              </li>
              <li>
                Component libraries such as Material Design, Bootstrap, and
                Polymer
              </li>
            </ul></ion-card-content
          >
        </ion-card>

        <p>
          See more skills and analysis on my
          <a routerLink="/skills">Skills Page</a>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
