<app-header></app-header>
<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title size="small">About</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Joshua Michael Calafell</ion-card-title>
            <ion-card-subtitle
              >UI Architect, Front End Engineer, Angular Expert, and
              Entrepenuer</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content>
            <ion-button
              color="primary"
              fill="outline"
              slot="end"
              routerLink="/contact"
              >💻&nbsp;Hire Me!</ion-button
            >
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>About Me</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>
              UI Architect and Front End Engineer who has been singularly
              responsible for defining web architecture, technical
              implementations of complex business requirements,and the creation
              of superb look-and-feel for enterprise applications. I’ve both
              worked on and managed web development teams, ensuring everyone is
              fully trained, tasked, and effective. I have great pride in my
              work and go the extra mile to ensure the highest quality
              applications. I have a can-do attitude, an eye for design, and the
              ability to assess an organization’s needs in order to deliver the
              best possible solutions for products that are on time and on
              budget.
            </p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Top Skills</ion-card-title></ion-card-header
          >
          <ion-card-content>
            <ul>
              <li>
                JavaScript/HTML/CSS
              </li>
              <li>
                TypeScript
              </li>
              <li>
                Node.js
              </li>
              <li>
                CSS Preprocessors such as SCSS, SASS, LESS, and Stylus
              </li>
              <li>
                Angular (with RxJs and NgRx)
              </li>
              <li>
                Redux and state management
              </li>
              <li>
                Other cross platform frameworks such as Meteor, Ionic, React,
                and React Native
              </li>
              <li>
                Webpack, Gulp.js, Docker, and other application bundling tools
              </li>
              <li>
                Component libraries such as Material Design, Bootstrap, and
                Polymer
              </li>
            </ul></ion-card-content
          >
        </ion-card>

        <p>
          See more skills and analysis on my
          <a routerLink="/skills">Skills Page</a>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
