<app-header></app-header>
<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title size="small">About</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>About Me</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>
              I am a Senior Front End Engineer with 10+ years of experience in
              leading and developing web applications. Proven track record of
              success in designing, developing, and delivering high-quality user
              interfaces.
            </p>
            <p>
              have strong expertise in front-end technologies and frameworks
              including HTML, CSS/SCSS, JavaScript, TypeScript, NodeJS, Angular,
              React, Redux, Storybook and I have been trained to work with a
              variety of development processes such as CCD (Component Driven
              Development), TDD (Test Driven Development), Agile, and Kanban.
            </p>
            <p>
              Also, I have a foundational knowledge of data structures and
              common patterns and logic. Also, I have strong leadership and
              team-building skills and have served as an Architect and Team Lead
              for half of my career.
            </p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Top Skills</ion-card-title></ion-card-header
          >
          <ion-card-content>
            <ul>
              <li>HTML, CSS, JavaScript, TypeScript</li>
              <li>Angular (RxJs, NgRx), React (Redux), Vue</li>
              <li>Wireframing, Prototyping, Storybook, Figma</li>
              <li>
                Responsive Design, Bootstrap, Material, Flexbox, CSS Grid,
                Tailwind
              </li>
              <li>State Management</li>
              <li>RESTful API Integration</li>
              <li>Git and GitHub Web</li>
              <li>Performance Optimization Cross Browser Compatibility</li>
              <li>Debugging Skills, Unit Testing, and Integration Testing</li>
              <li>Agile/Scrum amd KanBan Methodologies</li>
            </ul></ion-card-content
          >
        </ion-card>

        <p>
          See more skills and analysis on my
          <a routerLink="/skills">Skills Page</a>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
