/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Mono:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Nova+Mono|Roboto+Mono|Lato|Roboto|Oswald");

* {
  font-family: "Nunito Sans";
}

ion-card-title,
ion-list-header,
ion-card-title,
ion-title,
ion-list-item {
  font-family: "Lato";
  font-weight: 600;
}

.title {
  color: #ffca28;
  margin-left: 8px;
  padding-left: 8px;
}

app-header {
  height: 48px;
}

ion-label {
  font-weight: 600;
}

ion-card-subtitle,
ion-note {
  color: #e0e0e0;
}

ion-card-subtitle {
  font-family: "Nunito Sans";
  color: #e0e0e0 !important;
}

ion-badge {
  padding: 8px;
  border-radius: 18px;
}

ul li {
  font-size: 16px !important;
}

ion-segment {
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-right: 0px;
}
