/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Megrim:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans|Open+Sans|Nova+Mono|Oswald|Lato|Roboto|Oswald");

* {
  font-family: "Nunito Sans";
}

ion-card-title,
ion-list-header,
ion-card-title,
ion-title,
ion-list-item {
  font-family: "Open Sans";
}

.title {
  margin-left: 8px;
  padding-left: 8px;
  font-family: "Megrim";
  font-weight: 700;
}

ion-label {
  font-weight: 600;
}

ion-card-subtitle {
  font-family: "Open Sans";
}

ion-badge {
  padding: 8px;
  border-radius: 18px;
}

ul li {
  font-size: 16px !important;
}

ion-segment {
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-right: 0px;
}

.block {
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 16px;
  padding: 16px;
  display: inline-block;
  p {
    background-color: #fff;
    color: #000;
    padding: 4px;
    font-size: 12px;
  }
}

.block-stripes {
  background-image: repeating-linear-gradient(
    -55deg,
    rgb(209, 178, 208, 0.5),
    rgba(209, 178, 208, 0.05) 2px,
    rgba(209, 178, 208, 0.1) 2px,
    rgba(209, 178, 208, 0.1) 5px
  );
}
